DynamicInventory/DynamicServiceSetup/DynamicServiceSetup/Express/*
DynamicInventory/DynamicService/bin/*
DynamicInventory/DynamicService/obj/*
DynamicInventory/DynamicAgente/bin/*
DynamicInventory/DynamicAgente/obj/*