<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamicServico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DynamicServico.Properties.Settings>
            <setting name="timerServico" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="urlPost" serializeAs="String">
                <value>http://127.0.0.1:8080/webservice/rest/computador/add</value>
            </setting>
        </DynamicServico.Properties.Settings>
    </userSettings>
</configuration>